*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

header{
    position: absolute;
    width: 100%;
}

header .contaiiner{
    width: 79%;
    margin: auto;
}

header .navbar .navbar-brand{
    font-size: 2rem;
}

header .navbar .navbar-brand{
    font-weight: bold;
    font-size: 2.5rem;
}

#basic-addon1{
    border: none;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.input-group-text i{
    cursor: pointer;
}

.input-group input{
    border: none;
    background-color: white;
}

header .form-inline{
    
    padding-left: 655px;
}

header .moon{

    font-size: 25px;
    color: white;
}

header .navbar-toggler{
    border: none;
}

header .navbar-toggler i{
    color: white;
    font-size: 30px;
    
}

#collapsibleNavbar{
    background-color: black;
    opacity: 0.9;
}

.navbar-nav a{
    color: red;
}

header .navbar-nav .nav-item .nav-link{
    color: white;
}

#carousel{
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url(../images/banner1.jpg);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

#carousel .container{
    max-width: 1200px;
}

.carousel__text{
   max-width: 600px;
   text-align: left;
}

.carousel__text h1{
    color: #fff;
    font-size: 54px;
    line-height: 64px;
    font-weight: bold;
    text-transform: capitalize;
}

.carousel__text p{
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}

.button{
    padding: 15px 45px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid #fff;
    border-radius: 8px;
    transition: all 0.5s;
}


.button:hover{
    background: #fff;
    border: 2px solid #fff;
    color: #ff6600;
}

#carousel .carousel__content{
    padding-top: 150px;
} 

.aboutus__content .aboutus__title{
    margin-left: -30px;
}

.aboutus__content .aboutus__title h6{
    color: #ff6600;
    letter-spacing: 1px;
    line-height: 30px;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    font-weight: 400;
}

.aboutus__content .aboutus__title p{
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
}

.aboutus__content .aboutus__lorem{
    color: rgb(91 96 108);
    font-size: 18px;
   margin-left: 30px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.book__content .book__img{
    background-image: url(../images/image04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;
}

.book__content .book__img::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

.book__right{
   background-color: #ff6600;
   padding: 60px 80px;
}

.book__right .book__header h5{
    color: #fff;
    font-family: cursive;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px
}

.book__right .book__header h3{
    font-weight: 600;
    line-height: 48px;
    font-size: 38px;
}

.book__right .book__header p{
    color: #ffdfc9;
    font-size: 18px;
}

.book__footer .row i{
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    background-color: white;
    font-size: 23px;
    border-radius: 10px;
    color: #ff6600;
    transition: all 0.5s;
}

.book__footer .col-md-6:hover i{
    color: #fcb900;
}

.book__footer .row h5{
    font-weight: bold;
}

.book__footer .row p{
    color: #ffdfc9;
    font-size: 18px;
}